@model Movie

<div style="border: solid 2px black">
    <p>Title: @Model.Title</p>
    <p>Movie Id: @Model.Id</p>
    <p>Genre: @Model.Genre</p>
    <p>Run Time: @Model.RunTime</p>
    <p>Release Year: @Model.Year</p>
    <br />
</div>
<p>Are you sure you wish to delete this Movie?</p>
<form asp-action="DeleteFromDb" asp-controller="home" asp-route-id="@Model.Id">
    <input type="submit" value="Yes" />
</form>
<a asp-action="index" asp-controller="home"><button>No</button></a>